<section class="como_nace">
	<div class="texto_como_nace">
		<h1>RELAC ADOP</h1>
		<p>“Red de Organismos de Adopción a nivel Latinoamericano, en el marco del Convenio de La Haya de 1993 relativo a la Protección y a la Cooperación en materia de Adopción Internacional: RELAC-ADOP”</p>

		<p>Es una realidad que -en América Latina- faltan espacios comunes para los organismos no gubernamentales vinculados a la temática de la adopción, que permitan dar a conocer los logros y aprendizajes obtenidos, de modo de iniciar e instaurar un proceso de retroalimentación entre los actores que colaboran en el ámbito de la protección y adopción, que favorezca la elaboración de estrategias y criterios técnicos que den lugar a nuevos paradigmas de trabajo en pro del Interés Superior de los niños y niñas que necesitan ejercer su derecho a Vivir en Familia; además, de incidir en el desarrollo y definición de las políticas públicas en  materia de protección a la infancia y adopción.</p>

		<p>En este escenario, Fundación Mi Casa en su calidad de Organismo Acreditado  para desarrollar Programas de Adopción en el Sistema de Chile, con una vasta experiencia además, en otras materias de infancia, tomo la decisión de impulsar la generación de instancias de encuentro, entre los distintos organismos de adopción latinoamericanos, que favorecieran la transferencia de conocimiento y buenas prácticas; la elaboración de estrategias y criterios técnicos comunes que garanticen, por sobre todo, el interés superior de los niños/as que requieren ejercer su Derecho a Vivir en Familia, entre otros. Es por ello que, luego de varias reuniones de trabajo con Fundación Centro para el Reintegro y Atención del Niño CRAN de Colombia, acuerdan -en el primer semestre del año 2015- crear la “Red de Organismos de Adopción a nivel Latinoamericano en el marco del referido Convenio de 1993”: “RELAC – ADOP”.</p> 
	</div>

	<div class="fundadores">
		<h2>Equipo Fundador</h2>
		<div class="fundador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/gonzalo_gutierrez.png" alt="foto_gonzalo" id="gonzalo">
			<h4>Gonzalo Gutierrez</h4>	
		</div>
		
		<div class="fundador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_brigitta.png" alt="foto_brigitta">	
			<h4>Brigitta Löwstedt</h4>
		</div>
		
		<div class="fundador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_delia.png" alt="foto_delia">	
			<h4>Delia Moreno</h4>
		</div>
		
		<div class="fundador">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_raquel.png" alt="foto_raquel">	
			<h4>Raquel Morales</h4>
		</div>
	</div>
	
	<div class="parallax_image"></div>
</section>