<p>“Red de Organismos de Adopción a nivel Latinoamericano, en el marco del Convenio de La Haya de 1993 relativo a la Protección y a la Cooperación en materia de Adopción Internacional: RELAC-ADOP”</p>

<h2>ELEMENTOS DE CONTEXTO (USAR EN COMO NACE RELAC)</h2>

<p>En América Latina, la institución de la adopción ha tenido un importante desarrollo en las últimas décadas, siendo reconocida en los sistemas de protección a la infancia vulnerada, como una medida que tiene por objeto restituir el derecho de los niños, que se encuentren privados de los cuidados de su familias de origen,a Vivir en Familia.</p>

<p>En efecto, las distintas legislaciones latinoamericanas han reconocido –explícitamente- los principiosrectores que regulan la adopción, los que se encuentran consagrados, principalmente, en la Convención sobre los Derechos del Niño y el Convenio de la Haya de 29 de mayo de 1993 relativo a la Protección del Niño y a la Cooperación en materia de Adopción Internacional. Los principios generales, tanto de la precitada Convención como del Convenio de1993, tales como; el interés superior del niño como consideración primordial; el desarrollo de salvaguardas para prevenir la sustracción, venta y tráfico de niños; la cooperación eficaz entre las autoridades, y la importancia de que las autoridades competentes autoricen las adopciones internacionales, han permitido que los sistemas de protección de estos países (14 países han ratificado ambos tratados)cuenten –en su mayoría- con mecanismos y procedimientos judiciales y administrativos que priorizan el derecho de los niños a crecer y desarrollarse en el seno de sus familias de origen,  y sólo cuando ello no fue posible, se recurra a las medidas de cuidados alternativos, entre ellas, la Adopción, Nacional o Internacional, según corresponda.</p>

<p>Asimismo es importante tener presente que, en varios de estos países, los logros alcanzados en el ámbito de  la adopción, tanto nacional como internacional, son la consecuencia del trabajo conjunto entre autoridades gubernamentales y/o públicas y organismos privados o no gubernamentales,dado que han entendido –correctamente- el principio de la corresponsabilidad que existe entre el Estado y la sociedad civil, en estas materias.</p>

<p>Sin embargo,  también es una realidad que -en América Latina- faltan espacios comunes para los organismos no gubernamentales vinculados a la temática de la adopción, que permitan dar a conocer los logros y aprendizajes obtenidos, de modo de iniciar e instaurar un proceso de retroalimentación entre los actores que colaboran en el ámbito de la protección y adopción, que favorezca la elaboración de estrategias y criterios técnicos que den lugar a nuevos paradigmas de trabajo en pro del Interés Superior de los niños y niñas que necesitan ejercer su derecho a Vivir en Familia; además, de incidir en el desarrollo y definición de las políticas públicas en  materia de protección a la infancia y adopción.</p>

<p>En este escenario, Fundación Mi Casa en su calidad de Organismo Acreditado  para desarrollar Programas de Adopción en el Sistema de Chile, con una vasta experiencia además, en otras materias de infancia, tomo la decisión de impulsar la generación de instancias de encuentro, entre los distintos organismos de adopción latinoamericanos, que favorecieran la transferencia de conocimiento y buenas prácticas; la elaboración de estrategias y criterios técnicos comunes que garanticen, por sobre todo, el interés superior de los niños/as que requieren ejercer su Derecho a Vivir en Familia, entre otros. Es por ello que, luego de varias reuniones de trabajo con Fundación Centro para el Reintegro y Atención del Niño CRAN de Colombia, acuerdan -en el primer semestre del año 2015- crear la “Red de Organismos de Adopción a nivel Latinoamericano en el marco del referido Convenio de 1993”: “RELAC – ADOP”.</p> 

<p>Fundación Mi Casa, es una organización sin fines de lucro fundada en el año 1947, fue reconocida como organismo colaborador del Servicio Nacional de Menores en julio de 1967 y acreditada por éste en agosto de 2008 para ejecutar un Programa de Adopción, nacional  e internacional. Este organismo de la sociedad civil, se encuentra registrado ante el Consejo Permanente de la Organización de los Estados Americanos (OEA) a partir del 12 de noviembre de 2014. Asimismo y en el contexto de las alianzas estratégicas con otros organismos de la sociedad civil, Fundación participa en el Movimiento Mundial por la Infancia de Latinoamérica y el Caribe; Foro Chileno por los Derechos de la Infancia; Observa: “El derecho a vivir en familia”, Bloque por la Infancia y Comunidad de Organizaciones Solidarias.</p>

<p>En el caso de Fundación Centro para el Reintegro y Atención del Niño CRAN  fue fundada  en 1978, con el nombre de Centro para la Rehabilitación y Adopción del Niño, como institución de protección de la niñez en Colombia con licencia de funcionamiento del Instituto Colombiano de Bienestar Familiar, ICBF. A su vez CRAN participa en la conformación y puesta en marcha de la Red de Protección de la Infancia, REDPAI, en 1997.</p>

<p>Los representantes legales de ambas instituciones son Delia Del Gatto Reyes, Gerente General de Fundación Mi Casa y don Gonzalo Gutiérrez, Director Ejecutivo de Fundación Centro para el Reintegro y Atención del Niño CRAN, están autorizados por sus respectivos estatutos legales para conformar o participar en Agrupaciones de instituciones relacionadas con Infancia y Adopción, en el marco de los objetivos de cada institución.</p>

<p>Esta Red Latinoamérica, que por el momento está conformada por Fundación Mi Casa de Chile y Fundación Centro para el Reintegro y Atención del Niño CRAN de Colombia, se encuentra en proceso de ampliación con la incorporación por una parte, de otras instituciones nacionales de adopción de ambos países, como de organismos del ámbito de protección de otros países de la región las que serán integradas, próximamente.</p>



<h2>OBJETIVOS</h2>
<p>Promover la institución de la adopción como una opción legítima de restitución del derecho básico de todo niño o niña a vivir en familia, en consideración a su Interés Superior y de acuerdo con el principio de Subsidiariedad.</p>

<p>Potenciar las sinergias y el poder influenciador de los Organismos de la sociedad civil  en el marco del desarrollo de políticas sociales, comunicacionales y de difusión en temáticas propias de protección y de la adopción de niñas y niños.</p>

<p>Coordinar acciones que permitan contar con un modelo de cooperación efectiva entre ellos y lograr un posicionamiento común, ante órganos e instancias internacionales.</p>

<p>Lograr una cooperación mutua tendiente a intercambiar experiencias, conocimientos, buenas prácticas, pasantías, entre otras, a fin de fortalecer el trabajo técnico y un posicionamiento común ante la Oficina Permanente de La Haya.</p>

<p>Diseñar una agenda de trabajo común entre los organismos participantes a efectos de compartir los logros alcanzados y disponer de una instancia de consulta técnica permanente.</p>

<p>Difundir información a través de una publicación que dará a conocer las experiencias de los organismos participantes.</p>

<p>Fomentar encuentros  con otros actores, tanto nacionales como extranjeros, que se repliquen periódicamente.</p>

<p>Compartir, analizar y sistematizar las buenas prácticas en materias de adopción Nacional e Internacional.</p>

<h2>ESTRUCTURA</h2>
<p>Asamblea General y Junta Directiva (ORGANIGRAMA)</p>
<p>Los representantes de los organismos integrantes de la red latinoamericana se reunirán cada dos años en una Asamblea General.  En dicha Asamblea se discutirán temas de interés común para los integrantes, se elegirá una Junta Directiva y se planificarán las actividades del período. En la primera Asamblea General, los organismos integrantes de la red nombrarán un representante titular y un suplente con poder de actuar en nombre de los organismos al cual pertenecen.
En la actualidad, actúa en calidad de Presidenta doña Delia del Gatto, Gerente General de Fundación Mi Casa y como Vicepresidente don Gonzalo Gutiérrez, Director Ejecutivo de Fundación Centro para el Reintegro y Atención del Niño CRAN, Este Directorio provisional durara en sus funciones hasta la primera Asamblea General, en que se ratificaran total o parcialmente o bien, se elegirá el directorio definitivo. La mencionada Asamblea, se llevara a cabo el próximo 3 de diciembre de 2015.</p>

<h2>VIGENCIA</h2>
<p>La duración de la Red Latinoamericana será de carácter indefinido, pudiendo los organismos integrantes poner fin a ella mediante mayoría simple.</p>

<h2>ACTIVIDADES DESARROLLADAS Y POR DESARROLLAR</h2>
	
<p>Participación de la RELAC-ADOP, en la Cuarta reunión de la Comisión Especial sobre el funcionamiento práctico del Convenio de la Haya de 29 de mayo de 1993 relativo a la Protección del Niño y a la Cooperación en materia de Adopción Internacional “Convenio de la Haya de 1993 sobre Adopción Internacional”, que se llevó a cabo en el mes de junio de 2015, instancia en la cual, además de presentar la red latinoamericana, fue posible levantar propuestas y dar a conocer la opinión de la sociedad civil, en relación a los distintos tópicos tratados.</p>

<p>Organizando, en conjunto con Fundación Mi Casa y Fundación Chilena de la Adopción, el Congreso Internacional “La Adopción una Opción  Permanente, a la luz de la ley de garantía de derechos de niños, niñas y adolescentes”, que se llevara a cabo en la ciudad de Santiago de Chile, el día 4 de diciembre de 2015. Esta actividad, contara con representantes de Perú, México, Colombia, España, Suecia.</p>

<p>Realización de la primera Asamblea General de la RELAC-ADOP, en la ciudad de Santiago de Chile, el día 3 de diciembre de 2015</p>
