<h1>Equipo</h1>

<div class="integrante_del_equipo">
	<img src="https://s3-us-west-2.amazonaws.com/relacadop/FOTO+BIRGITTA+LOWSTEDT.jpg" alt="birgitta_lewistong_pic">
	<h4>Brigitta Lewistong</h4>
	<p>Coordinadora de Programas de Adopción y Consejo Senior de Adoptions Centrum. Asesora de programa de adopcion internacional Raíces. Representante de Consejo Nórdico de Adopción. Integrante de la Comisión Especial de la Haya entre 2010 y 2015.</p>
</div>

<div class="integrante_del_equipo">
	<img src="https://s3-us-west-2.amazonaws.com/relacadop/FOTO+EDA+AGUILAR.jpg" alt="eda_aguilar_pic">
	<h4>Eda Aguilar</h4>
	<p>Abogada especialista en Políticas de Infacia y Derechos Humanos, Master en Gerencia de Proyectos y Programas Sociales, Diplomada en Estudios de Género. Consultora de UNICEF, Becaria ASDI. Asesora de la Comisión de Juventud.</p>
</div>

<div class="integrante_del_equipo">
	<img src="https://s3-us-west-2.amazonaws.com/relacadop/FOTO-DELIA.jpg" alt="delia_pic">
	<h4>Delia Del Gatto Reyes</h4>
	<p>Magister en Gerencia y Políticas Públicas en Universidad Adolfo Ibañez, (2003), Egresada de Licenciatura en Ciencias de Desarrollo ILADES, (1988), Diplomada en “Diseño y Gestión de Políticas y Programas Sociales en INDES-BID, Washington D.C, Estados Unidos, (1999), Profesora de Historia de la Pontificia Universidad Católica de Chile. <br>Trabajó en formación y capacitación para la democracia en organizaciones sociales a lo largo de todo el país por la Fundación Eduardo Frei M., (1987-1989). Se desempeño en SERNAM, desde el año 1991 hasta el año 2000, integrando la Comisión Organizadora, luego como Jefa del Dpto. de Desarrollo Regional, posteriormente como Jefa del Dpto. de Coordinación Intersectorial. <br> Desde el año 2000 hasta el año 2006 fue Directora Nacional de Sename. Fue representante de Chile ante el Consejo Directivo del Instituto Iberoamericano del Niño.Desde mayo del 2006 es la Directora Ejecutiva de Fundación Mi Casa,  organismo que el año 2008 fue acreditado en Chile para realizar procesos de Adopción nacionales e internacionales. En la actualidad además es Vocera del Bloque por la Infancia y Directora del Foro Chileno por los Derechos de la Infancia.</p>
</div>

<div class="integrante_del_equipo">
	<img src="https://s3-us-west-2.amazonaws.com/relacadop/RAQUEL+1.jpg" alt="raquel_pic">
	<h4>Raquel Morales</h4>
	<p>Abogada (Universidad Gabriela Mistral), Post-Titulo en Violencia Familiar y Maltrato Infantil desde una Perspectiva Transdisciplinaria,   Profesional con más de 20 años de experiencias en temas relacionados con los derechos del niño y los derecho de la familia. <br>Durante el periodo (2001-2014) se desempeñó como Jefa Nacional del Departamento de Adopcion del Servicio Nacional de Menores (SENAME), EL ejercicio del cargo le permitió responder y promover reflexiones sobre las políticas públicas de infancia, participando en la implementación y ejecución de la Ley N° 19.620, que dicta norma sobre Adopción de Menores, tanto a nivel nacional como en la observancia de la Convención sobre los Derechos del Niño; asimismo, en el marco del Convenio de La Haya sobre Protección del Niño y  Cooperación  en materia de Adopción Internacional le correspondió actuar como autoridad central,  que conlleva la Representación de Chile ante la Oficina Permanente de la Conferencia de La Haya sobre Derecho Internacional Privado , y la coordinación con otros Estados Miembros  (Italia, España, Suecia, Alemania, Noruega, Perú, Colombia, Uruguay, Paraguay, Ecuador Guatemala, entre otros). De igual forma, su experiencia le permitió sostener mesas de trabajo tanto a nivel nacional como internacional en materia de adopción, en torno a la injerencia técnica de la intervención propicia para la restitución del derecho del niño/a a vivir en familia de carácter definitivo y  en la preparación de las familias que postulan a procesos de adopción. Actualmente es Directora Nacional del Programa de Adopción de Fundación Mi Casa y una de las fundadoras de RELAC-ADOP (Red Latinoamericana de Cooperación en el ámbito de la Adopción).​</p>
</div>