<section class="index_section">
	<div class="slider">
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/fotos-slider/46.png)"></div>
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/15.png)"></div>
		<!-- <div class="first_slider" style="background-image: url(http://diferenciafm.cl/wp-content/uploads/2015/04/ni%C3%B1os-felices.jpg)"></div> -->
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/6.2.jpg)"></div>
	</div>

	<div class="index_noticias">
		<h2>Actualidad</h2>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/seminario.png" alt="">
			<div class="texto_noticia">
				<p>RELAC-ADOP, participaron en calidad de Observadores -del 8 al 12 de junio de 2015- en la Cuarta Comisi칩n especial sobre la aplicaci칩n pr치ctica del mencionado Convenio, la que se llev칩 a cabo en la Conferencia de La Haya de Derecho Internacional Privado, Holanda.</p>
				<p class="fecha_noticia">19 de Septiembre de 2016</p>
			</div>
		</div>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/22.png" alt="">
			<div class="texto_noticia">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
				<p class="fecha_noticia">12 de Octubre de 2016</p>
			</div>
		</div>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/19.jpg" alt="">
			<div class="texto_noticia">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
				<p class="fecha_noticia">3 de Septiembre 2016</p>
			</div>
		</div>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/22.png" alt="">
			<div class="texto_noticia">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
				<p class="fecha_noticia">22 de Agosto de 2016</p>
			</div>
		</div>
	</div>

	<div class="parallax_image_2"></div>

	<div class="index_video">
		<h2>Video</h2>
		<iframe src="https://player.vimeo.com/video/157721432" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/32NJWtLkrHg" frameborder="0" allowfullscreen></iframe>	 -->
	</div>
	
	<div class="parallax_image"></div>

	<div class="index_colaboradores">
		<h2>Miembros</h2>
		<div class="first_row">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/fundacion_mi_casa.png" alt="">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/esperanza.png" alt="logo_esperanza">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/san_jose.png" alt="logo_san_jose">	
		</div>
		
		<div class="second_row">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/cran.png" alt="logo_cran">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/Grada.png" alt="">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_pleyades.png" alt="logo_pleyades">	
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('.slider').slick({
				autoplay: true,
				fade: true,
				speed: 2000,
				autoplaySpeed: 1500,
		    	dots: true
			});
		});
	</script>
</section>



