<h1>RelacAdop</h1>

<div class="slider">
	<div class="first_slider" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT0znI-HWzmMf9_Lxc2EFNqjkXDTBzgnQH3LccikL3inYg38pF9)"></div>
	<div class="first_slider" style="background-image: url(http://www.cuentoscortos.com/imagenes/1334-grande)"></div>
	<div class="first_slider" style="background-image: url(http://diferenciafm.cl/wp-content/uploads/2015/04/ni%C3%B1os-felices.jpg)"></div>
</div>

<h2>Colaboradores</h2>

