<section class="index_section">
	<div class="slider">
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/fotos-slider/46.png)"></div>
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/15.png)"></div>
		<!-- <div class="first_slider" style="background-image: url(http://diferenciafm.cl/wp-content/uploads/2015/04/ni%C3%B1os-felices.jpg)"></div> -->
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/6.2.jpg)"></div>
	</div>

	<div class="video_modal">
		<iframe width="560" height="315" class="w3-animate-zoom" src="https://www.youtube.com/embed/SI3r3TRZpIE" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="index_noticias">
		<h2>Actualidad</h2>
		<div class="horizontal_line"></div>
		<div class="noticia" id="ultima_noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/Agenda-Contacto.png" alt="noticia_congreso">
			<div class="texto_noticia">
				<p>El equipo de Relac Adop realiza su primer congreso latinoamericano de adopciones, que se realizará este 27 y 28 de Octubre en Bogotá, Colombia. Dentro de los objetivos, esta atraer jueces, defensores de familia, empresa privada y los medios para elevar el debate de los derechos de los niños vulnerados y de adopción en Colombia. <button class="video_button">Ver Video</button> Tambien dejar un aporte académico y una discusión abierta para el mejoramiento del proceso de adopción en Colombia y América Latina.</p>
				<p class="fecha_noticia">22 de Octubre de 2016</p>
			</div>
		</div>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_haya/haya_main.png" alt="">
			<div class="texto_noticia">
				<p>RELAC-ADOP, participaron en calidad de Observadores -del 8 al 12 de junio de 2015- en la Cuarta Comisión especial sobre la aplicación práctica del mencionado Convenio, la que se llevó a cabo en la Conferencia de La Haya de Derecho Internacional Privado, Holanda.</p>
				<p class="fecha_noticia">Junio de 2016</p>
			</div>
		</div>

		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_seminario/foto_seminario_3.png" alt="">
			<div class="texto_noticia">
				<p>Bajo el Patrocinio de Unicef, Fundación Telefónica, Adoptions Centrum, International Social Services, Archi, entre otros, se realizó en el mes de diciembre recién pasado, el V Seminario Internacional de Adopción, “La Adopción, una opción permanente, a la luz de la ley de garantía de los derechos de los niños, niña y adolescentes”.</p>
				<p class="fecha_noticia">Diciembre de 2015</p>
			</div>
		</div>

		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/noticia_primera_acta/primera_acta_1.png" alt="">
			<div class="texto_noticia">
				<p>Celebracion de la primera asamblea de Relac Adop. Se ratifica la actual Junta Directiva, para el periodo 2016-2017, incorporándose como miembro de la misma doña Eda Aguilar, representante de Corporación Acogiendo Derechos, de Perú.</p>
				<p class="fecha_noticia">3 de Diciembre de 2015</p>
			</div>
		</div>
<!-- 		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/19.jpg" alt="">
			<div class="texto_noticia">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
				<p class="fecha_noticia">3 de Septiembre 2016</p>
			</div>
		</div>
		<div class="horizontal_line"></div>
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/22.png" alt="">
			<div class="texto_noticia">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
				<p class="fecha_noticia">22 de Agosto de 2016</p>
			</div>
		</div> -->
	</div>

	<div class="parallax_image_2"></div>

	<div class="index_video">
		<h2>Video</h2>
		<iframe src="https://player.vimeo.com/video/157721432" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="cuatro_ninos">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/4+nin%CC%83os.svg" alt="	cuatro_ninos">	
		</div>
	</div>
	
	<div class="parallax_image"></div>

	<div class="index_colaboradores">
		<h2>Miembros</h2>
		<div class="colaboradores_row">
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_pisingos.png" alt="logo_pisingos">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fana.png" alt="logo_fana">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_proadopcion.png" alt="logo_proadopcion">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_observa.png" alt="logo_observa" alt="logo_observa">	
			</div>
		</div>
		
		<div class="colaboradores_row">
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_fadop.png" alt="logo_fadop">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_ayudame.png" alt="logo_ayudame">
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/Logo-Aldeas-Infantiles.png" alt="logo_aldeas_infanitiles">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/san_jose.png" alt="logo_san_jose">	
			</div>
		</div>

		<div class="colaboradores_row">
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/cran.png" alt="" class="big">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/esperanza.png" alt="" class="small">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/fundacion_mi_casa.png" alt="" class="small">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_maria.png" alt="logo_maria" class="small">	
			</div>
		</div>

		<div class="colaboradores_row">
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo-casa-de-la-madre-y-el-nino.png" alt="logo_casa_madre">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/OE-Adopcion.png" alt="logo_oe">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/Grada.png" alt="grada_logo" class="big">	
			</div>
			<div class="image">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_pleyades.png" alt="" class="big">	
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('.slider').slick({
				autoplay: true,
				fade: true,
				speed: 2000,
				autoplaySpeed: 1500,
		    	dots: true
			});
		});

		var video = document.getElementsByClassName("video_modal")[0];
		var videoButton = document.getElementsByClassName("video_button")[0];

		videoButton.onclick = function() {
			video.style.display = "block";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == video) {
				video.style.display = "none";
			}
		}

	</script>
</section>



