<section class="index_section">
	<div class="slider">
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/foto_slider.png)"></div>
		<div class="first_slider" style="background-image: url(https://s3-us-west-2.amazonaws.com/relacadop/manos.png)"></div>
		<div class="first_slider" style="background-image: url(http://diferenciafm.cl/wp-content/uploads/2015/04/ni%C3%B1os-felices.jpg)"></div>
	</div>

	<div class="index_noticias">
		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/5.2.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, porro tempore dolor. At nostrum corporis non odit quos facere expedita ipsum eos itaque eius illo, deleniti eligendi voluptatibus, laudantium dignissimos.</p>
		</div>

		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/22.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quasi, repellendus quam magni qui fugit temporibus, maxime veniam sequi sed illo fuga sunt ipsa similique deleniti officia esse saepe accusamus!</p>
		</div>

		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/19.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ad debitis sunt eligendi animi unde quasi ipsum necessitatibus sapiente quibusdam dolor rem dignissimos soluta porro aspernatur mollitia dicta a, explicabo.</p>
		</div>

		<div class="noticia">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/22.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, rem, dolorem odit reprehenderit voluptatum placeat recusandae quod non, sapiente, et magni est. Ipsam tempora repudiandae nesciunt reprehenderit deleniti accusamus numquam!</p>
		</div>
	</div>

	<div class="parallax_image_2"></div>

	<div class="index_video">
		<h2>Video</h2>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/32NJWtLkrHg" frameborder="0" allowfullscreen></iframe>	
	</div>
	
	<div class="parallax_image"></div>

	<div class="index_colaboradores">
		<h2>Colaboradores</h2>
		<div class="first_row">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/fundacion_mi_casa.png" alt="">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/esperanza.png" alt="logo_esperanza">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/san_jose.png" alt="logo_san_jose">	
		</div>
		
		<div class="second_row">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/cran.png" alt="logo_cran">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/Grada.png" alt="">
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/colaboradores/logo_pleyades.png" alt="logo_pleyades">	
		</div>
	</div>
</section>



