<section class="mision">
	<h2>Visión</h2> 
	<p>La RELAC es reconocida por las autoridades del Continente, como el principal referente técnico de la sociedad civil en el Derecho del Niño a vivir en Familia.</p>
	<div class="horizontal_line"></div>
	<h2>Misión</h2> 
	<p>Agrupar a organismos de la sociedad civil del Continente, en una comunidad de colaboración y aprendizajes, para incidir en la políticas públicas  relativas al derecho del niño a vivir en familia.</p>	
</section>
