<section class="noticias">
	<div class="noticia_congreso_colombia">
		<h1>Primer Congreso Latinoamericano de Adopciones</h1>
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/Agenda-Contacto.png">
		<p>El equipo de Relac Adop estara participando en el primer congreso latinoamericano de adopciones, que se realizará este 27 y 28 de Octubre en Bogotá, Colombia. Dentro de los objetivos, esta atraer jueces, defensores de familia, empresa privada y los medios para elevar el debate de los derechos de los niños vulnerados y de adopción en Colombia. Tambien dejar un aporte académico y una discusión abierta para el mejoramiento del proceso de adopción en Colombia y América Latina.</p>	
	</div>

	<div class="horizontal_line"></div>
	
	<div class="noticia_seminario">
		<h2>PARTICIPACIÓN DE LA RELAC-ADOP, EN La CUARTA COMISIÓN ESPECIAL SOBRE LA APLICACIÓN PRACTICA DEL CONVENIO DE LA HAYA DE 1993.</h2>

		<img src="https://s3-us-west-2.amazonaws.com/relacadop/seminario.png" alt="seminario" class="seminario_flyer">
		
		<p>Delia Del Gatto Reyes, Presidenta y Raquel Morales Ibáñez, Directora Ejecutiva de la Red de Organismos de Adopción a nivel Latinoamericano, (Relac-Adop), en el marco del Convenio de la Haya de 1993 sobre Protección del Niño y Cooperación en materia de Adopción Internacional, RELAC-ADOP, participaron en calidad de Observadores -del 8 al 12 de junio de 2015- en la Cuarta Comisión especial sobre la aplicación práctica del mencionado Convenio, la que se llevó a cabo en la  Conferencia de La Haya de Derecho Internacional Privado, Holanda.
		La agenda de trabajo, en los cinco días de la comisión, estuvo centrada principalmente en:</p>
		 
		<button class="read_more">Leer Más</button>
		<div class="more_text w3-animate-opacity">
			<ul>
				<li>Evaluación del impacto de la implementación del Convenio en las legislaciones y en las prácticas en materia de adopción internacional (abordaje del principio de la subsidiariedad, cómo abordar los desafíos de la realidad cambiante de la A.I</li> <br>
				<li>Adopción Internacional de niños con necesidades especiales (distintas definiciones, establecimiento de procedimientos específicos para la A.I., de NNE; determinación de la adoptabilidad; preparación de los NNE, evaluación, preparación de los FPA, búsqueda de familias adoptivas idóneas para NNE)</li> <br>
				<li>Cuestiones que se suscitan después de la A.I. (Servicios post adoptivos, abordaje de los fracasos y la búsqueda de origen del niño (por medios de tecnología moderna, en especial las redes sociales)</li> <br>
				<li>Movilidad y Globalización (Desafíos de los Estados enfrentan en materia de A.I., como consecuencia del incremento en el movimiento transfronterizo de personas, Factores para determinar la residencia habitual de las partes involucradas).</li><br>
				<li>Cuestiones específicas relativas a: cooperación entre países, a los procedimientos, Tecnologías modernas en especial las redes sociales, cuestiones económicas, prevención y lucha contra las practicas ilícitas.</li>
			</ul>
			<div class="seminario_pics">
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/Maria-Elena-Gonzalez.png" alt="maria_elena">			
				<p>Maria Elena Gonzales</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/Marisol-Heresmann.png" alt="marisol_heressmann">
				<p>Marisol Heresmann</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_seminario.png">
				<p>Eda Aguilar</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_seminario_2.png" alt="">
				<p>V Seminario Internacional</p>
				<img src="https://s3-us-west-2.amazonaws.com/relacadop/foto_seminario_3.png" alt="">
			</div>	
			
		</div>
		
	</div>

	<div class="horizontal_line"></div>

	<div class="noticia_haya">
		
	</div>

	<script>
		document.getElementsByClassName("read_more")[0].onclick = function() {
			document.getElementsByClassName("more_text")[0].style.display = "block";
			document.getElementsByClassName("read_more")[0].style.display = "none";
		}
	</script>
	
</section>
