<h1>Acta Primera Asamblea General RELAC ADOP</h1>
<p>03 De Diciembre del 2015</p>
<p>Santiago, de Chile</p>

<h2>Junta directiva actual</h2>

<p>Presidente, Delia Del Gatto, Fundación Mi Casa - Chile</p>
<p>Vicepresidente, Gonzalo Gutierrez, Fundación CRAN – Colombia.</p>
<p>Directora honorifica, Brigitta Löwstedt, Centro Sueco de Adopción  - Suecia</p>
<p>Directora ejecutiva, Raquel Morales, Fundación Mi Casa - Chile</p>

<h2>Miembros de la red</h2>

<p>Eda Aguilar, Corporación Acogiendo derechos – Perú.</p>
<p>Rosario Correa, Corporación GRADA – Chile.</p>
<p>Jorge Davello, Fundación Hogar Esperanza – Chile.</p>
<p>Anita Leal, Fundación Pléyade – Chile. (no asiste)</p>
<p>Alejandra Riveros,  Secretaria Técnica de OBSERVA – Chile.</p>
<p>Delia Moreno, Fundación Chilena de la adopción – Chile.</p>
<p>María Elena González Fundación Chilena de la adopción – Chile.</p>
<p>Marysol Heresmann, Agrupación Organismos Extranjeros</p>
<p>Ximena Calcagni, Fundación San José – Chile.</p>
<p>José Gregorio Fernández, Pro adopción – Venezuela (justifico su inasistencia)</p>

<h2>Objetivos de la asamblea</h2>

<ul>
	<li>Presentación de la RELAC ADOP y  su Participación en la 4ta Comisión Especial en la     Conferencia de La Haya de Derecho Internacional Privado.</li>
	<li>- Aprobación de los objetivos de la Red, Y designación junta directiva 2016-2017</li>
	<li>Aprobación de Agenda de actividades 2016-2017</li>       
</ul>


<h2>Acuerdos</h2>

<p>Los miembros de la red latinoamericana han acordado con fecha 03 de diciembre del 2015 aprobar los siguientes acuerdos:</p>

<p>Se ratifica la actual Junta Directiva, para el periodo 2016-2017, incorporándose como miembro de la misma doña Eda Aguilar, representante de Corporación  Acogiendo Derechos, de Perú.</p>





<h4>I. Se aceptan los siguientes objetivos 2016-2017: (USAR EN REEMPLAZO DE PRINCIPIOS)</h4>

<p>Promover la institución de la adopción como una opción legítima de restitución del derecho básico de todo niño o niña a vivir en familia, en consideración a su Interés Superior y de acuerdo con el principio de Subsidiariedad.</p>

<p>Potenciar las sinergias y el poder influenciador de los Organismos de la sociedad civil  en el marco del desarrollo de políticas sociales, comunicacionales y de difusión en temáticas propias de protección y de la adopción de niñas y niños.</p>

<p>Coordinar acciones que permitan contar con un modelo de cooperación efectiva entre ellos y lograr un posicionamiento común, ante órganos e instancias internacionales.</p>

<p>Lograr una cooperación mutua tendiente a intercambiar experiencias, conocimientos, buenas prácticas, pasantías, entre otras, a fin de fortalecer el trabajo técnico y un posicionamiento común ante la Oficina Permanente de La Haya.</p>

<p>Diseñar una agenda de trabajo común entre los organismos participantes a efectos de compartir los logros alcanzados y disponer de una instancia de consulta técnica permanente.</p>

<p>Difundir información a través de una publicación que dará a conocer las experiencias de los organismos participantes.</p>

<p>Fomentar encuentros  con otros actores, tanto nacionales como extranjeros, que se repliquen periódicamente.<p>

<p>Compartir, analizar y sistematizar las buenas prácticas en materias de adopción Nacional e Internacional.</p>

<h4>II. Generar la articulación de los estatutos que regirán a la RELAC-ADOP como organismo internacional.</h4>

<h4>III. Construcción de un Website que permita la visibilidad de la RELAC-ADOP</h4> 

<h4>IV. Definir los lineamientos asociados al financiamiento de la RELAC-ADOP</h4>

<h4>V. Replicar la experiencia de un “Artadopt” como promoción de la adopción por medio de la RELAC ADOP.</h4>

<h4>VI. Replicar el acuerdo número V. A nivel de establecimientos educacionales.</h4>


<h4>VII. Generar la conversación en torno a las siguientes propuestas: Promover un cambio en la mirada de la parentalidad adoptiva, Abordaje en relación al acompañamiento; trazar intervenciones en relación a la reincersión de NNA con sus familias biológicas; estudios de habilidades parentales.</h4>

<h4>VIII. Promover la conversación de experiencias institucionales que puedan ser articuladas a nivel macro.</h4>

<h4>IX. Mantener una comunicación fluida con los organismos rectores de cada país que participen de la RELAC-ADOP.</h4>

<h4>X. Evaluar la posibilidad de definir personalidad Jurídica</h4>

<h4>XI. El próximo encuentra será realizado en noviembre del 2016 en Colombia.</h4>

<h4>XII. Invitación a Instituto de Colonias y Campamentos (ICYC)</h4>


<p>En señal de conformidad firman: </p>