<section class="codigo_infancia">
	<div class="texto">
		<h1>Codigo de la Infancia</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus architecto eveniet cumque ipsam repellat blanditiis sint assumenda quo sequi quos, sit iste delectus perspiciatis sapiente qui, aliquam cum aspernatur eum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tenetur modi cumque vitae sequi! Eveniet quaerat veritatis quibusdam aut repellat iste perspiciatis qui assumenda eos deleniti tenetur, laborum vel alias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quia, veniam. Doloribus obcaecati provident tenetur sunt dolore mollitia est temporibus qui, similique sit ex aperiam modi harum quos tempora eaque!</p>
	</div>
	
	<div class="horizontal_line"></div>

	<div class="link_download">
		<%= link_to '/codigo_infancia.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/pdf-icon.png" alt="pdf-icon">
		<% end %>		
	</div>
	
	
</section>