<section class="codigo_infancia">
	<div class="texto">
		<h2>Codigo de la Infancia (PERU)</h2>
	</div>
	
	<div class="horizontal_line"></div>

	<div class="link_download">
		<%= link_to '/codigo_infancia.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/pdf-icon.png" alt="pdf-icon">
		<% end %>		
	</div>
	
	
</section>