<section class="convenio_haya">
	<div class="texto">
		<h2>Convenio de LA HAYA (1993)</h2>
		<ul>
			<li>Establecer estándares mínimos para la protección de los niños que son sujeto de la adopción internacional</li>
			<li>Establecer un marco legal para la cooperación entre las autoridades en los Estados de origen y en los Estados de recepción</li>
			<li>Prevenir la sustracción, la venta y el tráfico de niños, y eliminar los distintos abusos relacionados con la adopción internacional</li>
			<li>Garantizar el reconocimiento automático de las adopciones realizadas de acuerdo al Convenio en todos los Estados contratantes</li>
			<li>Reforzar y aumentar los principios de la Convención de las Naciones Unidas sobre los Derechos del Niño, en particular el artículo 21(e)</li>
		</ul>
	</div>

	<div class="horizontal_line"></div>
	
	<div class="link_download">
		<%= link_to '/convenio_haya.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/otros-iconos/pdf-icon.png" alt="pdf-icon">
		<% end %>	
	</div>
</section>
