<section class="convenio_haya">
	<h2>Convenio de la Haya</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestiae, impedit! Dignissimos, ipsum, officia. Veritatis aspernatur adipisci culpa beatae sequi sint sapiente, mollitia a commodi quam exercitationem nisi provident rerum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt minima quis exercitationem, voluptatibus assumenda rem distinctio iste repudiandae consectetur porro corporis doloremque qui fuga vitae, aperiam, est. Praesentium, asperiores suscipit!</p>

	<p>Descarga el Documento aca:</p>

	<%= link_to "Convenio de la Haya (PDF)", '/convenio_haya.pdf', :target => "_blank" %>	
</section>
