<section class="derechos_nino">
	<h1>Convención Internacional sobre los Derechos del Niño</h1>

	<p>Texto adaptado para niños de 10 años en adelante</p>

	<p>La Convención fue adoptada por la Organización de las Naciones Unidas (ONU) el 20 de noviembre de 1989 para proteger los derechos de los niños de todo el mundo y mejorar sus condiciones de vida.</p>

	<h3>Artículo 1 – Definición de niño</h3>

	<p>La convención afecta a todos los niños. Si tienes menos de 18 años de edad, eres un niño, y por lo tanto te encuentras protegido por esta convención.</p>

	<h3>Artículo 2 – El derecho a no ser discriminado</h3>

	<p>La convención debe ser aplicada a todos los niños sin discriminación alguna:</p>

	<ul>
		<li>Tienes derecho a ser respetado, ya seas una niña o un niño, sin importar cuál sea tu estado de salud, tu origen social o étnico, el idioma que hables, tu religión, tus opiniones o tu nacionalidad.</li>
		<li>Tienes derecho a la igualdad; esto significa que los gobiernos deben respetar y proteger tus derechos, de la misma forma que los de los demás niños.</li>
	</ul>

	<h3>Artículo 3 – El derecho al bienestar</h3>

	<ul>
		<li>En todas las decisiones que tengan que ver contigo, se deben tener en cuenta tus intereses.</li>
		<li>El estado debe proteger y garantizar tu bienestar si tus padres no pueden hacerlo.</li>
		<li>El estado debe garantizar que todas las instituciones encargadas de tu bienestar (las escuelas, la policía, etc.) te ayuden y protejan de forma eficaz.</li>
	</ul>

	<h3>Artículo 4 – El derecho a ejercer tus derechos</h3>

	<p>El estado debe tomar todas las medidas necesarias para permitirte el ejercicio de todos tus derechos, reconocidos como tales por la Convención.</p>

	<h3>Artículo 5 – El derecho a ser orientado por tus padres</h3>

	<p>El estado debe respetar el derecho y la obligación de tus padres de guiarte y aconsejarte en el ejercicio de tus derechos y en el desarrollo de tus capacidades.</p>

	<h3>Artículo 6 – El derecho a la vida y al desarrollo</h3>

	<ul>
		<li>Como todos los niños, tienes derecho a vivir y a no ser asesinado.</li>
		<li>El estado debe garantizar tu supervivencia y tu crecimiento, proporcionando todo lo que necesitas para tu desarrollo.</li>
	</ul>

	<h3>Artículo 7 – El derecho a un nombre y una nacionalidad</h3>

	<ul>
		<li>Desde tu nacimiento, tienes derecho a tener un nombre, un apellido y una nacionalidad. Tener una nacionalidad te permite ser aceptado y protegido por un país. También tienes derecho a conocer a tus padres y a vivir con ellos.</li>
		<li>Si no tienes nacionalidad, aún así los países deben respetar tu derecho a tener un nombre y un apellido, y a vivir con tus padres.</li>
	</ul>

	<h3>Artículo 8 – El derecho a la protección de tu identidad</h3>

	<ul>
		<li>Los estados deben respetar tu identidad. Deben ayudarte a preservar tu nombre, tu apellido, tu nacionalidad y la relación con tus padres.</li>
		<li>En caso de que seas privado de tu identidad, los estados deben protegerte y ayudarte a recuperarla lo más rápido posible.</li>
	</ul>

	<h3>Artículo 9 – El derecho a vivir con tus padres</h3>
	
	<ul>
		<li>Tienes derecho a vivir con tus padres, excepto cuando sea en contra de tus intereses y de tu bienestar (si eres víctima de abusos o descuidos, etc.)</li>
		<li>Si tus padres se separan, tienes derecho a opinar respecto de las decisiones que tengan que ver contigo en el momento de la separación.</li>
		<li>Si eres separado de tus padres, tienes derecho a verlos regularmente, excepto cuando sea en contra de tus intereses y de tu bienestar.</li>
		<li>Tienes derecho a saber dónde están tus padres (si están en prisión, por ejemplo), excepto cuando sea en contra de tus intereses y de tu bienestar.</li>
	</ul>
	
	<h3>Artículo 10 – El derecho a reencontrarte con tu familia</h3>

	<ul>
		<li>Si tú y tus padres se encuentran en diferentes países, tienes derecho a abandonar el país en el que te encuentres e ingresar en otro país para reencontrarte con ellos. Tus padres tienen el mismo derecho.</li>
		<li>Si vives en un país diferente de tus padres, tienes derecho a reunirte con ellos.</li>
	</ul>

	<h3>Artículo 11 – Protección contra el secuestro y el traslado a otro país.</h3>

	<ul>
		<li>El estado debe protegerte del riesgo de ser secuestrado y trasladado a otro país.</li>
		<li>En caso de secuestro, para garantizar el reencuentro con tus padres, los países deben cooperar y trabajar en conjunto.</li>
	</ul>

	<h3>Artículo 12 – El derecho a la libertad de opinión</h3>

	<ul>
		<li>Apenas tengas edad suficiente para tener tu propia opinión, tienes derecho a expresarla en relación a todas las decisiones que te conciernan. Los adultos tienen la obligación de tomarla en cuenta.</li>
		<li>El estado debe garantizar que tu opinión sea tomada en cuenta en todas las decisiones importantes que tengan que ver contigo (por ejemplo, en las decisiones judiciales).</li>
	</ul>

	<h3>Artículo 13 – El derecho a la libertad de expresión</h3>

	<ul>
		<li>Tienes derecho a expresar tu opinión libremente. También tienes derecho a investigar y a recibir y difundir información.</li>
		<li>La libertad de expresión tiene ciertos límites:
			<ul>
				<li>Debes respetar los derechos y la reputación de los demás;</li>
				<li>No debes poner a la sociedad en peligro.</li>
			</ul>
		</li>
	</ul>

	<h3>Artículo 14 – El derecho a la libertad de conciencia, religión y pensamiento.</h3>

	<ul>
		<li>Tienes derecho a la libertad de concienciay de pensamiento y a practicar una religión.</li>
		<li>Tus padres tienen el derecho y el deber de guiarte en el ejercicio de este derecho, de acuerdo a tu edad y a tus capacidades.</li>
		<li>La libertad de practicar una religión y de expresar tus convicciones (lo que piensas) tiene límites:
			<ul>
				<li>Debes respetar las libertades y los derechos de los demás;</li>
				<li>No debes poner a la sociedad en peligro.</li>
			</ul>
		</li>
	</ul>

	<h3>Artículo 15 – El derecho a la libertad de asociación</h3>

	<ul>
		<li>Tienes derecho a formar grupos con otros niños o adultos y a participar en reuniones acerca de temas o actividades que te interesen.</li>
		<li>La libertad de asociación tiene límites:
			<ul>
				<li>Debes respetar las libertades y los derechos de los demás;</li>
				<li>No debes poner a la sociedad en peligro.</li>
			</ul>
		</li>
	</ul>

	<h3>Artículo 16 – El derecho a la protección de la privacidad</h3>

	<ul>
		<li>Nadie tiene derecho a invadir, sin una razón legal, tu privacidad, es decir, tu vida privada o tu vida familiar. Tu casa, tu correo, así como tu honor y tu reputación, constituyen tu privacidad y están igualmente protegidos.</li>
		<li>El estado debe crear leyes que protejan todos los aspectos de tu privacidad.</li>
	</ul>

	<h3>Artículo 17 – El derecho a la información</h3>

	<p>Tienes derecho a recibir información (a través de los medios de comunicación) que sea variada e imparcial:</p>
	
	<ul>
		<li>El estado debe garantizar que los medios de comunicación (la radio, la televisión, los periódicos, etc.) brinden a los niños información útil;</li>
		<li>Deben favorecer el desarrollo del conocimiento y la comprensión de otras culturas;</li>
		<li>Deben alentar la producción de libros para niños;</li>
		<li>Deben alentar a los medios de comunicación a tomar en consideración la cultura y el lenguaje de los niños pertenecientes a las minorías;</li>
		<li>El estado debe protegerte de cualquier información que pueda ir en contra de tu bienestar.</li>
	</ul>

	<h3>Artículo 18 –Las obligaciones de tus padres</h3>

	<ul>
		<li>Tus padres deben criarte y garantizarte un desarrollo adecuado.</li>
		<li>El estado debe ayudar a tus padres en esta tarea, creando instituciones y servicios cuyo trabajo sea cuidar de tu bienestar.</li>
		<li>Si tanto tu padre como tu madre trabajan, el estado debe ayudarlos a asumir esta responsabilidad.</li>
	</ul>

	<h2>Artículo 19 – El derecho a ser protegido contra el maltrato</h2>
	
	<ul>
		<li>El estado debe protegerte contra cualquier tipo de maltrato, estés bajo el cuidado de tus padres o de otra persona. Tienes derecho a ser protegido contra la violencia, el abandono, el descuido, la explotación y la violencia sexual.</li>
		<li>El estado debe garantizar que nunca seas maltratado; y si llegara a sucederte, debe hacerse cargo de ti.</li>
	</ul>

	<h3>Artículo 20 – El derecho a ser protegido aunque no tengas familia</h3>

	<ul>
		<li>Si no tienes familia, el estado debe protegerte y cuidarte.</li>
		<li>Debe garantizar que haya gente que te cuide y que no estés solo.</li>
		<li>Aquellos que te protejan deben tomar en consideración tu pasado y tu cultura.</li>
	</ul>

	Artículo 21 – El derecho a ser adoptado

	Tu adopción solo será permitida si favorece tu bienestar.

	a. Debe ser aceptada y permitida por quienes cuiden de ti.

	b. Puedes ser adoptado en un país diferente al de tu nacimiento si constituye la mejor solución para ti.

	c. Si eres adoptado en otro país, debes tener los mismos derechos que los que tendrías si hubieras sido adoptado en tu país de nacimiento.

	d. Tu adopción jamás debe ser una forma de obtener dinero para quienes te adopten.

	e. Los países deben trabajar en conjunto, de forma que tu adopción sea supervisada por instituciones responsables y competentes.

	Artículo 22 – Los derechos de los niños refugiados

	1. En caso de que estés forzado a abandonar el país donde vives, tienes derecho a ser considerado un refugiado. Como tal, serás protegido por el Derecho Internacional (constituido por las leyes compartidas por todos los países) y por esta convención, tanto si te encuentras solo, con tus padres o con otros adultos.

	2. Los estados y las organizaciones internacionales deben ayudarte y cuidarte. Deben ayudarte a encontrar a tus padres y a tu familia. En caso de no hallarla, no deben dejarte solo y otras personas deben cuidarte.

	Artículo 23 – Los derechos de los niños discapacitados

	1. Si eres discapacitado, tienes derecho a tener la mejor calidad de vida posible. Tienes derecho a recibir respeto hacia tu persona y tu dignidad. Tienes derecho a ser tratado como a cualquier otro niño para que te ayude a ser lo más independiente posible y a participar de la vida de tu comunidad.

	2. El estado debe reconocer el derecho de los niños discapacitados a recibir un trato especial, lo cual es esencial para su bienestar.

	3. El estado debe, por lo tanto, ofrecer ayuda adicional a tus padres. Esta ayuda, si es necesaria, será provista de forma gratuita para asegurarte el derecho a la educación, a la capacitación, a la salud, al tratamiento, al trabajo, a las actividades recreativas, a la integración social y al desarrollo personal.

	4. Los países deben trabajar en conjunto e intercambiar toda la información útil para ayudar a los niños discapacitados. Los países en vías de desarrollo deben recibir ayuda adicional.

	Artículo 24 – El derecho a la salud y a la atención médica

	1. El estado debe permitirte gozar de un buen estado de salud, brindándote todos los tratamientos médicos necesarios.

	2. El estado debe trabajar, principalmente y por sobre todo, en:

	a. Reducir el número de muertes infantiles;

	b. Mejorar la atención básica en salud para todos los niños;

	c. Desarrollar tratamientos preventivos (vacunas, etc.) y luchar contra la desnutrición (problemas causados por la falta de una dieta balanceada);

	d. Desarrollar medidas de asistencia para las madres antes y después de dar a luz;

	e. Desarrollar medios de acceso a información sobre salud, nutrición e higiene;

	f. Mejorar la planificación familiar (es decir, cualquier forma de ayudar a los padres a elegir el momento en que quieren tener un hijo).

	3. El estado debe terminar con aquellas prácticas tradicionales que sean peligrosas para la salud de los niños.

	Artículo 25 – El derecho a que tu internación sea revisada

	Si fuiste ubicado en un centro de salud, tienes derecho a que tu situación sea examinada regularmente para saber si aún necesitas los tratamientos que recibes.

	Artículo 26 – El derecho a la seguridad social

	1. Tienes derecho al beneficio de la seguridad social, que es un sistema nacional que te brinda la posibilidad de satisfacer tus necesidades básicas (salud, educación, alimentación, etc.)

	2. El estado debe ayudarte, dependiendo de tu situación y de la de aquellos que te cuidan.

	Artículo 27 – El derecho a tener un buen nivel de vida.

	1. Tienes derecho a tener un buen nivel de vida que te permita desarrollarte normalmente.

	2. Tus padres son responsables por tu desarrollo.

	3. De ser necesario, el estado debe ayudar a tus padres, especialmente, a proveerte comida, vestimenta y vivienda.

	4. Si tienes derecho a una pensión alimenticia, el estado debe garantizar que la recibas y que este derecho sea respetado dondequiera que estés.

	Artículo 28 – El derecho a la educación

	1. Los países reconocen que tienes derecho a la educación, al igual que cualquier otro niño:

	a. Tienes derecho a asistir a la escuela primaria de manera gratuita. La educación primaria es obligatoria;

	b. Tienes derecho a asistir a la escuela secundaria. La educación secundaria debe ser gratuita o debes recibir la ayuda necesaria para que puedas recibirla;

	c. Tienes derecho a la educación terciaria;

	d. Tienes derecho a acceder a información y orientación tanto educacional como vocacional;

	e. El estado debe realizar todo lo que esté a su alcance para fomentarla asistencia a la escuela.

	2. La disciplina escolar debe respetar tus derechos y tu dignidad.

	3. Los distintos países deben trabajar en conjunto para luchar contra el analfabetismo (es decir, la incapacidad de leer y escribir) en el mundo y para mejorar el acceso al conocimiento técnico y científico. Los países en vías de desarrollo deben recibir ayuda.

	Artículo 29 – Las objetivos de tu educación

	El objetivo de tu educación es:

	a. Promover tu crecimiento personal y el desarrollo de tus capacidades;

	d. Prepararte para tomar responsabilidades en una sociedad libre, con un espíritu de comprensión, paz, tolerancia, igualdad y amistad;

	e. Enseñarte a respetar el medio ambiente natural que te rodea.

	Artículo 30 – Derechos del niño para los grupos indígenas y las minorías (*)

	Si perteneces a una minoría étnica, religiosa o lingüística, tú también tienes derecho a desarrollar tu vida cultural, a practicar tu religión y a hablar el idioma de tu grupo.

	(*) Los grupos indígenas son grupos de personas que habitan una región determinada desde tiempos ancestrales y que viven en armonía con la naturaleza.

	Artículo 31 – El derecho al tiempo libre

	1. Tienes derecho a descansar, a gozar de tu tiempo libre, a jugar y a realizar actividades recreativas. También tienes derecho a participar en actividades artísticas y culturales para niños de tu edad.

	2. El estado debe proteger y promover el desarrollo de tu derecho al tiempo libre.

	Artículo 32 – El derecho a la protección contra la explotación laboral

	1. El estado debe protegerte contra la explotación, es decir, el hecho de ser obligado a trabajar. No debes realizar ningún trabajo que sea peligroso o que sea considerado perjudicial para tu salud, tu desarrollo o tu educación.

	2. El estado debe tomar todas las medidas necesarias para protegerte de la explotación laboral, que incluyen:

	a. El establecimiento de una edad mínima para trabajar;

	b. La instauración de reglas con respecto a las horas y las condiciones de trabajo;

	c. El castigo de quienes no respeten estas reglas.

	Artículo 33 – El derecho a la protección contra las drogas ilegales

	El estado debe tomar todas las medidas necesarias para protegerte de las drogas ilegales. Además, debe evitar que seas utilizado o involucrado en su producción y tráfico.

	Artículo 34 – El derecho a la protección contra el abuso sexual

	El estado debe protegerte contra toda forma de abuso o violencia sexual.

	Los países deben trabajar juntos con el objetivo de establecer las medidas necesarias para:

	a. Evitar que seas alentado u obligado a realizar actividades sexuales ilegales;

	b. Evitar que seas utilizado para la prostitución;

	c. Evitar que seas utilizado para producciones pornográficas (fotos o videos).

	Artículo 35 – El derecho a la protección contra el tráfico de personas

	El estado debe protegerte de ser vendido o secuestrado.

	Artículo 36 – El derecho a la protección contra cualquier otra forma de explotación

	El estado debe protegerte contra cualquier otra forma de explotación que sea perjudicial para tu bienestar.

	Artículo 37 – El derecho a la protección contra la tortura y el cautiverio

	1. El estado debe garantizar que:

	a. No seas sometido a torturas o a cualquier otro castigo cruel o degradante. No puedes ser sentenciado a pena de muerte o prisión perpetua.

	b. No puedes ser arrestado arbitrariamente, es decir, sin una razón real. El arresto y el encarcelamiento deben ser la última solución posible.

	c. En caso de ser arrestado, debes ser tratado de manera humanitaria y digna, y no puedes ser encarcelado junto con adultos. Tus necesidades (de acuerdo con tu edad) deben ser tomadas en cuenta y tienes el derecho a mantenerte en contacto con tu familia.

	d. En caso de ser arrestado, tienes derecho a tener acceso a diferentes formas de ayuda. Tienes derecho a cuestionar la razón por la cual estás en prisión frente a un jurado justo, el cual debe emitir un veredicto lo más rápido posible.

	Artículo 38 – El derecho a la protección de los conflictos armados

	1. En caso de que exista un conflicto armado, el estado debe protegerte, respetando al mismo tiempo el Derecho Internacional de los Derechos Humanos (que regula los conflictos armados).

	2. Si tienes menos de 15 años de edad, el estado debe evitar que participes en un combate de forma directa.

	3. Si tienes menos de 15 años, no puedes ser reclutado en el ejército. Si tienes entre 15 y 18 años, el estado puede incluirte en las fuerzas armadas, pero primero debe seleccionar a las personas mayores.

	4. Si estás involucrado en un conflicto armado, el estado debe protegerte y cuidarte.

	Artículo 39 – El derecho a la recuperación y la reinserción social

	Si has sido víctima de negligencia, explotación, tortura o cualquier otra forma de maltrato , el estado debe ayudarte en tu recuperación y retorno a tu vida normal.

	Artículo 40 – La Justicia y los derechos de los menores

	1. En caso de ser sospechosoo declarado culpable de un delito, el estado debe respetar tus derechos fundamentales. Tu edad debe ser tomada en cuenta y todas las acciones deben realizarse de manera que puedas reinsertarte en la sociedad en buenas condiciones.

	2. El estado debe garantizar que:

	a. No seas falsamente acusado;

	b. Tus siguientes derechos sean respetados;

	– Eres inocente hasta que se demuestre lo contrario;

	– Debes recibir un juicio justo (un juicio frente a un jurado imparcial) que tenga en cuenta tu edad y tu bienestar;

	– No debes ser obligado a confesar tu culpabilidad;

	– Puedes apelar tu veredicto, es decir, tienes derecho a solicitar que tu primer veredicto sea revisado;

	– Puedes contar con la ayuda de un abogado;

	– Puedes recibir la ayuda de un intérprete si no hablas el idioma;

	– Debe respetarse tu vida y tu privacidad durante todo el proceso;

	3. El estado debe adoptar leyes específicas para los niños de tu edad.

	b. Debe tomar todas las medidas posibles para cuidar de ti sin necesidad de una intervención legal.

	4. El estado debe organizar un sistema de desarrollo y educación en relación a tus condiciones de vida y el delito que hayas cometido para asegurar tu bienestar.

	Artículo 41 – El derecho a la mejor protección

	Si la ley del país en el que vives es más favorable que esta convención, la ley de tu país es la que debe ser aplicada.

	Artículo 42 – La difusión de tus derechos

	Tu país debe hacer que esta convención sea conocida tanto por los adultos como por los niños.	
</section>
