<section class="ley_adopcion">
	<div class="texto">
		<h2>Ley de Adopcion 19.620 (CHILE)</h2>
		<p>Es posible afirmar que la Ley N° 19.620 logro adecuar nuestra normativa interna a la Convención sobre los Derechos del Niño, estableciendo procedimientos claros y transparentes terminando con el tráfico de niños imperante en nuestro país en la década de los 80´y 90´. <br>Reconoce el derecho prioritario del niño/a de no ser separado de su familia biológica y su interés superior como la consideración primordial. Se inspira entre otros principios en el de la inseparabilidad de los hermanos, instaura por primera vez la adopción internacional, como medida subsidiaria de la adopción nacional, establece sanciones penales para los casos de tráfico de niños, consagra legalmente la existencia del Programa de Adopción ejecutado antes de la ley por los organismos privados de adopción:</p>
		<ul>
			<li>Determina un procedimiento previo a la adopción propiamente tal, destinado a definir  si un niño/a es susceptible de ser adoptado/a</li>
			<li>Establece la necesidad de acreditación de idoneidad de los padres adoptivos</li>
		</ul>
	</div>

	<div class="horizontal_line"></div>
	
	<div class="link_download">
		<%= link_to '/ley_adopcion.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/otros-iconos/pdf-icon.png" alt="pdf-icon">
		<% end %>	
	</div>
	
</section>