<section class="ley_adopcion">
	<div class="texto">
		<h2>Ley de Adopcion</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam praesentium laboriosam eveniet magnam expedita omnis possimus, quisquam, voluptatem fugit similique doloremque hic dolor maiores, ipsa ea enim accusantium temporibus, pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, doloremque earum veniam ducimus nemo, voluptates alias quasi quis rerum quo voluptatem, minima neque optio laborum quam inventore, maxime. Aut, nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti asperiores et dignissimos tempora cumque illum quam adipisci blanditiis perferendis saepe voluptatum, facere itaque doloremque porro, perspiciatis eaque quo obcaecati ipsum?</p>	
	</div>

	<div class="horizontal_line"></div>
	
	<div class="link_download">
		<%= link_to '/ley_adopcion.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/pdf-icon.png" alt="pdf-icon">
		<% end %>	
	</div>
	
</section>