<section class="modificaciones">
	<div class="texto">
		<h2>Modificaciones</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eius odit fugit, labore nesciunt, atque expedita rem, corporis ipsum aliquam ea optio debitis similique! Atque quis eos iste, amet provident!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sequi voluptatibus ipsum quae minus eius ad vel recusandae, laudantium, ducimus facere illo ex ut voluptates est temporibus sed eum itaque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum at vel exercitationem provident sit laborum voluptatibus sequi accusamus, labore sed ipsum quam ut dolorum tempore eaque nisi assumenda rem quaerat.</p>	
	</div>

	<div class="horizontal_line"></div>
	
	<div class="link_download">
		<%= link_to '/modificaciones.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop/pdf-icon.png" alt="pdf-icon">
		<% end %>	
	</div>
	
</section>