<section class="modificaciones">
	<div class="texto">
		<h2>Modificaciones Legales (PERU)</h2>
	</div>

	<div class="horizontal_line"></div>
	
	<div class="link_download">
		<%= link_to '/modificaciones.pdf', :target => "_blank"  do %>
			<p>Descarga el archivo Aqui!</p>
			<img src="https://s3-us-west-2.amazonaws.com/relacadop-static-assets/otros-iconos/pdf-icon.png" alt="pdf-icon">
		<% end %>	
	</div>
	
</section>