/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'slick-theme';
@import 'slick';
@import 'bourbon';
@import 'neat';

// VARIABLES

$amarillo: rgb(255, 204, 102);
$naranjo: rgb(255, 102, 51);
$marron: rgb(153, 0, 0);
$rosado: rgb(204, 102, 153);
$celeste: rgb(102, 204, 204);
$fondo-blanco: #ecf0f1;

// Fonts !!!!
// -------------
// font-family: 'Roboto', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// font-family: 'Proza Libre', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Poiret One', cursive;

// MIXINS

@mixin relac_button {
	background-color: $celeste;
	border: 0;
	color: $fondo-blanco;
	border-radius: 10px;
}

@mixin marco_legal {
	@include outer-container;
	text-align: center;	
	margin-bottom: 100px;
	
	div.texto {
		margin: 0 20%;

		h2 {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}

	div.horizontal_line {
	    border-top: 2px solid $marron;
		margin: 60px 35% 60px 35%;
	}
	
	div.link_download {
		a {
			text-decoration: none;

			p {
				color: $marron;
			}

			img {
				width: 13%;
			}
		}	
	}
}

body {
	font-family: 'Quicksand', sans-serif;
	line-height: 2.5em;
	letter-spacing: 0.4px;
	@include outer-container(100%);
	background-color: $fondo-blanco;

	@import 'header';
	@import 'index';
	@import 'equipo';
	@import 'colaboradores';
	@import 'como_nace';
	@import 'mision';
	@import 'primera_acta';
	@import 'convenio_haya';
	@import 'codigo_infancia';
	@import 'ley_adopcion';
	@import 'noticias';
	@import 'modificaciones';
	@import 'derechos_nino';
	@import 'testimonios';
	@import 'rakelita';
	@import 'footer';

	div.admin-buttons {
		text-align: center;

		a {
			text-decoration: none;
			button {
				border-radius: 10px;
				border: 0;
				color: $fondo-blanco;
			}
		}

		button.new-testimonial {
			background-color: #ff6633;
		}

		button.new-report {
			background-color: $marron;
		} 

		button.manage-news {
			background-color: $naranjo;
		} 

		button.view-messages {
			background-color: $rosado;
		}

		button.sign-out {
			background-color: $celeste;
		}
	}

	section.reports-index {
		padding: 0 100px;

		h1 {
			text-align: center;
			margin: 33px 0;
		}

		table {
			thead {
				tr {
					td {
						//@include span-columns(3);
					}
				}
			}
			tbody {
				tr {
					td {
						width: 25%;
						text-align: center;
						img {
							width: 50%;
						}
						a {
							text-decoration: none;
							background-color: rgba(168, 168, 168, 0.92);
							color: $fondo-blanco;
							padding: 15px;
							border-radius: 10px;
						}
					}

					td.view-report {
						//color: $naranjo;
					}

					td.edit-report {
						//color: $rosado;
					}

					td.destroy-report {
						//color: $marron;
					}
				}
			}
		}
	}

	section.show-report {
		text-align: center;
		padding: 40px 15%;
		
		div.main-image {
			img {
				width: 50%;
			}
		}

		div.extra-photos {
			@include outer-container;

			img {
				@include span-columns(6);
			}
		}

		div.actions {
			margin: 30px 0;

			button {
				border-radius: 10px;
				border: 0;

				a {
					text-decoration: none;
				}
			}
		}
	}

	section.login {
		padding: 8% 25%;
		
		h2 {
			text-align: center;
			color: $marron;
		}

		form {
			div.field {
				input {
					width: 100%;
					margin: 20px 0;
					border-radius: 10px;
					border: 0;
					background-color: $rosado;
					color: white;
					font-size: 20px;
    				padding-left: 14px;
				}
			}

			div.actions {
				input {
					width: 100%;
					height: 78px;
					margin-top: 20px;
				    border-radius: 10px;
				    border: 0;
				    font-size: 35px;
				    color: white;
				    background: $rosado;
				}
			}
		}
	}	

	section.new-report, section.edit-report, section.new-testimonial {
		padding: 0 20%;

		h1, p {
			text-align: center;
		}

		form {
			div.field {
				input, textarea {
					width: 100%;
					background-color: $amarillo;
					opacity: .33;
					border-radius: 10px;

				}
			}
			
			div.testimonial-field {
				input, textarea {
					background-color: $celeste;
				}
			}

			div#main-image-field {
				margin: 20px;
			}

			div.actions {
				input {
					margin: 30px 0;
					width: 100%;
					height: 80px;
					border-radius: 7px;
					border: 0;	
					background-color: $amarillo;			
					font-size: 2.5em;
				}
			}

			div.testimonial-action {
				input {
					background-color: $celeste;
				}
			}
		}
	}

	section.admin_panel {
		div.buttons {
			text-align: center;
		}

		text-align: center;

		section.reports-index {
			display: none;
		}

		section.testimonials-index {
			display: none;
		}
	}
}
