/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'slick-theme';
@import 'slick';
@import 'bourbon';
@import 'neat';

// VARIABLES

$amarillo: rgb(255, 204, 102);
$naranjo: rgb(255, 102, 51);
$marron: rgb(153, 0, 0);
$rosado: rgb(204, 102, 153);
$celeste: rgb(102, 204, 204);
$fondo-blanco: #ecf0f1;

// Fonts !!!!
// -------------
// font-family: 'Roboto', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// font-family: 'Proza Libre', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Poiret One', cursive;

// MIXINS

@mixin marco_legal {
	@include outer-container;
	text-align: center;	
	margin-bottom: 100px;
	
	div.texto {
		margin: 0 20%;

		h2 {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}

	div.horizontal_line {
	    border-top: 2px solid $marron;
		margin: 60px 35% 60px 35%;
	}
	
	div.link_download {
		a {
			text-decoration: none;

			p {
				color: $marron;
			}

			img {
				width: 13%;
			}
		}	
	}
}


body {
	font-family: 'Quicksand', sans-serif;
	line-height: 2.5em;
	letter-spacing: 0.4px;
	@include outer-container(100%);
	background-color: $fondo-blanco;

	@import 'header';

	section.index_section {
		div.slider {
			margin:  0 12%;

			div.first_slider {
				background-size: cover;
				height: 300px;
			}

			button.slick-prev:before {
				content: "<";
				color: $rosado;
			}

			button.slick-next:before {
				content: ">";
				color: $rosado;	
			}

			ul.slick-dots {
				margin: -18px 0;
				li {
					button:before {
						font-size: 30px;
					}
				}				
			}
		}

		div.index_noticias {
			margin: 80px 12%;

			h2 {
				text-align: center;
				margin-bottom: 2em;
			}

			div.horizontal_line {
			    border-top: 2px solid $rosado;
    			margin: 20px 35% 37px 35%;
			}

			div.noticia {
				@include outer-container;
				
				img {
					@include span-columns(3);
					width: 180px;
					display: inline;
				}

				div.texto_noticia {
					@include span-columns(9);

					p {
						margin: 0;
					}

					p.fecha_noticia {
						text-align: right;
						margin: 0;
						color: $rosado;
					}
				}
			}
		}

		div.parallax_image_2 {
			/* The image used */
		    background-image: url("https://s3-us-west-2.amazonaws.com/relacadop/3.1.png");

		    /* Set a specific height */
		    height: 350px; 

		    /* Create the parallax scrolling effect */
		    background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		
		div.index_video {
			margin: 100px 0 30px 0;
			h2 {
				text-align: center;

			}

			iframe {
			    margin: 20px 21%;
			    width: 800px;
			    height: 388px;
			}

			div.cuatro_ninos {
				text-align: center;
				
				img {
					width: 20%;
				}
			}
		}

		div.parallax_image {
				    /* The image used */
		    background-image: url("https://s3-us-west-2.amazonaws.com/relacadop/10.jpg");

		    /* Set a specific height */
		    height: 350px; 

		    /* Create the parallax scrolling effect */
		    background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}	

		div.index_colaboradores {
			height: 800px;
			//margin: 100px 10% 150px 10%;

			h2 {
				text-align: center;
				margin: 60px 0;
			}

			div.colaboradores_row {
				@include outer-container;
				div.image {
					@include span-columns(3);
					text-align: center;

					img {
						width: 63%;
					}
				}
			}
		}	
	}


	
	@import 'equipo';
	@import 'colaboradores';
	@import 'como_nace';
	@import 'mision';
	@import 'primera_acta';
	@import 'convenio_haya';
	@import 'codigo_infancia';
	@import 'ley_adopcion';
	@import 'noticias';
	@import 'modificaciones';
	@import 'derechos_nino';
	@import 'footer';	
}
