@mixin colaboradores_style {
	text-align: center;

	h1 {
		margin: 55px 0;
	}

	div.row {
		@include outer-container(100);

		margin: 55px 10%;

		img.small {
			width: 50%;
		}

		img.big {
			width: 33%;
		}
		
		div.logo_colaborador {
			@include span-columns(6);

			img#acogiendo_peru_logo {
				margin-top: 87px;
			    width: 38%;
			    margin-left: 75px;
			}
		}

		div.info_colaborador {
			@include span-columns(6);
			@include omega();

			text-align: justify;
		}
	}
}

@mixin circle_number {
	a {
		text-decoration: none;
		div.one {
		    //border: 2px solid black;
		    border-radius: 46%;
		    display: inline;
		    padding: 0.6em 1em;
		}	

		div.two {

		    //border: 2px solid black;
		    border-radius: 46%;
		    display: inline;
		    padding: 1em;
		    padding: 0.6em 0.9em;
	    	margin-left: 42px;
		}
	}
}

section.colaboradores {
	@include colaboradores_style;
	margin-bottom: 100px;

	div.row {
		div.logo_colaborador {
			margin-top: 70px;
		}

		div.info_colaborador {
			p {
				a {
					color: $celeste;
				}
			}
		}
	}

	div.parallax_colaboradores_1 {
		background-image: url("https://s3-us-west-2.amazonaws.com/relacadop-static-assets/paralax-images/8.jpg");

	    /* Set a specific height */
	    height: 350px; 

	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	div.pagination {
		margin: 70px 0;
	}

	@include circle_number;
}

section.colaboradores_2 {
	@include colaboradores_style;
	margin-top: 80px;
	margin-bottom: 150px;

	div.parallax_colaboradores_2 {
		margin: 140px 0;
		background-image: url("https://s3-us-west-2.amazonaws.com/relacadop-static-assets/paralax-images/5.jpg");

	    /* Set a specific height */
	    height: 350px; 

	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	div.row {
		div.logo_colaborador {
			img {
				margin-top: 160px;
				width: 55%
			}
		}

		div.info_colaborador {
			p {
				a {
					color: $celeste;
				}
			}
		}

		div#madre_nino {
			img {
				margin-top: 100px;	
			}
		}

		div.fana {
			img {
				width: 30%;
			}
		}

		div.ayudame {
			img {
				width: 65%;
			}
		}
	}

	@include circle_number;
}