section.como_nace {
	div.texto_como_nace {
		@include outer-container(60%);
		text-align: center;	
		margin-bottom: 95px;

		h1 {
			margin-top: 70px;
			margin-bottom: 70px
		}

		div.horizontal_line {
		    border-top: 2px solid $rosado;
			margin: 60px 35% 56px 35%;
		}
	}

	div.fundadores {
		@include outer-container;
		margin-bottom: 90px;

		h2 {
			text-align: center;
			margin-bottom: 60px;
		}

		img {
			@include span-columns(3);
			border-radius: 100%;
		}

		img#gonzalo {
			height: 276px;
		}
	}
}