section.como_nace {
	div.texto_como_nace {
		@include outer-container(60%);
		text-align: center;	
		margin-bottom: 95px;

		h1 {
			margin-top: 70px;
			margin-bottom: 70px
		}
	}

	div.fundadores {
		@include outer-container;
		margin: 64px 0 90px 80px;

		h2 {
			text-align: center;
			margin-bottom: 60px;
		}
		
		div.fundador {
			@include span-columns(3);
			text-align: center;
			img {
				border-radius: 100%;
				width: 80%;
			}	

			img#gonzalo {
				height: 226px;
			}
		}
	}

	div.parallax_image {
		/* The image used */
	    background-image: url("https://s3-us-west-2.amazonaws.com/relacadop/fotos-slider/42.png");

	    /* Set a specific height */
	    height: 350px; 

	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
}