section.derechos_nino {
	text-align: center;
	margin: 0 20%;

	ul li:before {
		color: $celeste;
	}

	button {
		@include relac_button;
		margin: 50px 0;
	}

	div.seguir_leyendo {
		display: none;
	}
}