footer {
	@include outer-container(100%);
	background-color: $marron;
	padding: 5%;

	div.footer_columns {
		@include span-columns(3);
		@include omega();
		text-align: center;
		color: $fondo_blanco;

		h3, p {
			margin: 0;
		}
	}
}