header {
	div.logo {
		@include outer-container;

		margin-bottom: 45px;
		
		img.logotipo {
			@include span-columns(3);
			width: 12em;
		    margin-top: 1em;
    		margin-left: 3em;
		}

		img.dibujo_ninos {
			@include span-columns(9);

			margin-top: 62px;
		}
	}
	
	nav {
		@include outer-container;

		div.nav_lista {
			@include span-columns(12);

			ul#menu, ul#menu ul {
		    	margin: 0;
		    	padding: 0;
		    	list-style: none;
			}

			ul#menu {
			    width: 85%;
			    margin: 10px 9%;
			    border: 1px solid $fondo-blanco;
			    background-color: $fondo-blanco;
			    border-radius: 6px;
			    margin-top: 0;
			}

			ul#menu:before,
			ul#menu:after {
			    content: "";
			    display: table;
			}

			ul#menu:after {
			    clear: both;
			}

			ul#menu {
			    zoom:1;
			}

			ul#menu li {
			    float: left;
			    border-right: 1px solid $fondo-blanco;
			    position: relative;
			    letter-spacing: 1.5px;
			    width: 200px;
			}

			li.link_inicio {
				background: $marron;
				border-top-left-radius: 10px;
    			border-bottom-left-radius: 10px;
			}

			li.link_quienes_somos {
			    background: $naranjo;

			    ul a:hover {
			    	background-color: rgb(255, 80, 51);
				}

				ul li:first-child > a:after {
				    content: '';
				    position: absolute;
				    left: 40px;
				    top: -6px;
				    border-left: 6px solid transparent;
				    border-right: 6px solid transparent;
				    border-bottom: 6px solid $naranjo;
				}
			}



			li.link_marco_legal {
			    background: $amarillo;

			    ul a:hover {
			    	background-color: rgb(255, 180, 102);
				}

				ul li:first-child > a:after {
				    content: '';
				    position: absolute;
				    left: 40px;
				    top: -6px;
				    border-left: 6px solid transparent;
				    border-right: 6px solid transparent;
				    border-bottom: 6px solid $amarillo;
				}
			}

			li.link_actualidad {
				background: $rosado;

			    ul a:hover {
			    	background-color: rgb(204, 80, 153);
				}

				ul li:first-child > a:after {
				    content: '';
				    position: absolute;
				    left: 40px;
				    top: -6px;
				    border-left: 6px solid transparent;
				    border-right: 6px solid transparent;
				    border-bottom: 6px solid $rosado;
				}
			}

			li.link_tu_parte {
				background: $celeste;
				border-top-right-radius: 10px;
    			border-bottom-right-radius: 10px;

			    ul a:hover {
			    	background-color: rgb(102, 180, 204);
				}

				ul li:first-child > a:after {
				    content: '';
				    position: absolute;
				    left: 40px;
				    top: -6px;
				    border-left: 6px solid transparent;
				    border-right: 6px solid transparent;
				    border-bottom: 6px solid $celeste;
				}
			}

			li.link_tu_parte {
				ul {
					li {
						border-radius: 0;
					}
				}
			}

			ul#menu a {
			    float: left;
			    padding: 12px 30px;
			    color: $fondo-blanco;
			    text-transform: uppercase;
			    font: bold 12px Arial, Helvetica;
			    text-decoration: none;
			    text-shadow: 0 1px 0 #000;
			}

			ul#menu ul {
			    margin: 30px 0 0 0;
			    _margin: 0; /*IE6 only*/
			    opacity: 0;
			    visibility: hidden;
			    position: absolute;
			    top: 39px;
			    left: 0;
			    z-index: 1;    
			    background: #444;   
			    background: linear-gradient(#444, #111);
			    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
			    border-radius: 3px;
			    transition: all .2s ease-in-out;
			    width: 100%;
			}

			ul#menu li:hover > ul {
			    opacity: 1;
			    visibility: visible;
			    margin: 0;
			}

			ul#menu ul ul {
			    top: 0;
			    left: 150px;
			    margin: 0 0 0 20px;
			    _margin: 0; /*IE6 only*/
			    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
			}

			ul#menu ul li {
			    float: none;
			    display: block;
			    border: 0;
			    _line-height: 0; /*IE6 only*/
			}

			ul#menu ul li:last-child {   
			    box-shadow: none;    
			}

			ul#menu ul a {    
			    padding: 10px;
			    width: 100%;
			    _height: 10px; /*IE6 only*/
			    display: block;
			    white-space: nowrap;
			    float: none;
			    text-transform: none;
			}

			ul#menu ul li:first-child > a {
			    border-radius: 3px 3px 0 0;
			}

			ul#menu ul ul li:first-child a:after {
			    left: -6px;
			    top: 50%;
			    margin-top: -6px;
			    border-left: 0; 
			    border-bottom: 6px solid transparent;
			    border-top: 6px solid transparent;
			    border-right: 6px solid #3b3b3b;
			}

			ul#menu ul li:first-child a:hover:after {
			    border-bottom-color: #04acec; 
			}

			ul#menu ul ul li:first-child a:hover:after {
			    border-right-color: #0299d3; 
			    border-bottom-color: transparent;   
			}

			ul#menu ul li:last-child > a {
			    border-radius: 0 0 3px 3px;
			}
		}
	}
}