section.noticias {
	@include outer-container(60%);
	text-align: center;
	margin-bottom: 90px;

	div.report-template {
		h2 {
			
		}
		
		div.main-image {
			img {
				width: 90%;
			}
		}

		button {
			background-color: $celeste;
			border: 0;
		    color: $fondo-blanco;
		    border-radius: 10px;
		}

		div.more_text {
			@include outer-container(100%);
			display: none;

			div.extra-images {
				@include outer-container;
				
				div {
					@include outer-container;
					img {
						@include span-columns(6);
						margin-right: 0;
					}
				}
			}
		}
	}

	div.pagination {
		font-size: 1.3em;

		a {
			color: $celeste;
		}

		a, em, span {
			padding: 0 10px;
		}
	}

	div.noticia_congreso_colombia {
		@include outer-container(100%);

		h1 {
			@include span-columns(12);
			margin: 40px 0;
		}

		img {
			@include span-columns(6);
		}		

		p {
			@include span-columns(6);
		}
	}

	div.horizontal_line {
	    border-top: 2px solid $marron;
		margin: 90px 35% 60px 35%;
	}

	div.noticia_haya {
		h2 {
			
		}

		img.seminario_flyer {
			width: 90%;
		}

		button {
			background-color: $celeste;
			border: 0;
		    color: $fondo-blanco;
		    border-radius: 10px;
		}

		div.more_text {
			@include outer-container(100%);
			display: none;

			ul {
				@include span-columns(6);
				text-align: justify;
			}

			div.haya_pics {
				@include span-columns(6);

				img {
					width: 77%;
				}
			}
		}

	}

	div.noticia_seminario {
		button {
			background-color: $celeste;
			border: 0;
		    color: $fondo-blanco;
		    border-radius: 10px;
		}

		div.more_text {
			@include outer-container(100%);
			display: none;

			div.seminario_first_row {
				div.image {
					@include span-columns(6);
					padding-top: 30px;

					img {
						width: 80%;
					}

					p {
						margin: 0 25%;
					}
				}

				p {
					@include span-columns(6);
				}
			}

			div.seminario_second_row {
				@include outer-container;
				p {
					@include span-columns(6);
				}

				div.image {
					@include span-columns(6);
					padding-top: 50px;

					img {
						width: 80%;
					}
					p {
						margin: 0 25%;
					}
				}
			}

			div.seminario_pics {
				img {
					@include span-columns(6);
				}
			}
		}	
	}

	div.noticia_primera_asamblea {
		button {
			background-color: $celeste;
			border: 0;
		    color: $fondo-blanco;
		    border-radius: 10px;
		}

		div.more_text {
			@include outer-container(100%);
			display: none;
		}
	}
}