<section class="edit-report">
	<h1>Edita la Noticia</h1>
	<p>(Si no subes nuevas fotos, quedarán las que ya estaban)</p>

	<%= render 'form' %>

	<%= link_to 'Show', @report %> |
	<%= link_to 'Back', reports_path %>	
</section>
