<footer>
	<div class="logo_horizontal">
		<img src="https://s3-us-west-2.amazonaws.com/relacadop/LOGO-HORIZONTAL.png" alt="logo_horizontal">	
	</div>
	
	<div class="footer_columns">
	<div class="horizontal_line_1"></div>
		<h3>Noticias</h3>
		<p>Actualidad</p>
		<p>Prensa</p>
		<p>Blog</p>
	</div>	

	<div class="footer_columns">
		<div class="horizontal_line_4"></div>
		<h3>Contactanos</h3>
		<div class="contacto_paises">
			<div class="info_contacto">
				<svg xmlns="http://www.w3.org/2000/svg" height="512" width="512" viewBox="0 0 512 512">
				  <defs>
				    <clipPath id="a">
				      <path fill-opacity=".67" d="M0 0h708.66v708.66H0z"/>
				    </clipPath>
				  </defs>
				  <g fill-rule="evenodd" clip-path="url(#a)" transform="scale(.722)" fill-opacity=".996">
				    <path fill="#fff" d="M354.31 0h708.68v354.34H354.31z"/>
				    <path fill="#0039a6" d="M0 0h354.34v354.34H0z"/>
				    <path d="M232.273 265.338l-54.883-41.16-54.615 41.564 20.312-67.543-54.514-41.708 67.444-.582 20.92-67.338 21.366 67.183 67.444.09-54.234 42.1 20.76 67.393z" fill="#fff"/>
				    <path fill="#d52b1e" d="M0 354.34h1063v354.32H0z"/>
				  </g>
				</svg>
				<address>
					<p>Luis Barros Valdes 775 <br>Providencia</p>
					<p>+56-2-27903800</p>		
				</address>
			</div>
			<div class="info_contacto">
				<svg xmlns="http://www.w3.org/2000/svg" height="512" width="512" viewBox="0 0 512 512">
				  <g fill-rule="evenodd" stroke-width="1pt">
				    <path fill="#ffe800" d="M0 0h512.005v512H0z"/>
				    <path fill="#00148e" d="M0 256h512.005v256H0z"/>
				    <path fill="#da0010" d="M0 384.003h512.005V512H0z"/>
				  </g>
				</svg>
				<address>
					<p>Transversal 77 numero 126-06 <br>Bogota</p>
					<p>+57-1-4757649</p>	
				</address>
			</div>
		</div>
	</div>
</footer>