<footer>
	<div class="footer_columns">
		<h3>Noticias</h3>
		<p>Actualidad</p>
		<p>Prensa</p>
		<p>Blog</p>
	</div>	
	
	<div class="footer_columns">
		<h3>Quieres Adoptar?</h3>
		<p>Pasos</p>
		<p>Recomendaciones</p>
		<p>Casos exitosos</p>
	</div>

	<div class="footer_columns">
		<h3>Redes Sociales</h3>

		<p>Facebook</p>
		<p>Twitter</p>
	</div>

	<div class="footer_columns">
		<h3>Contactanos</h3>
		<p>Luis Barros Valdes 775, Providecia</p>
		<p><%= link_to "Residencias", "#" %></p>
	</div>
</footer>