<footer>
	<div>
		<h3>Contactanos</h3>
		<p>Luis Barros Valdes 775, Providecia</p>
		<p><%= link_to "Residencias", "#" %></p>
	</div>

	<div>
		<h3>Redes Sociales</h3>

		<p>Facebook</p>
		<p>Twitter</p>
	</div>

	<div>
		<h3>Quieres Adoptar?</h3>
	</div>
</footer>