<header>
    <nav>
        <ul id="menu">
            <li><%= link_to "Inicio", root_path %></li>
            <li>
                <%= link_to "Quienes Somos", pages_primera_acta_path %>
                <ul>
                    <li><a href="#">Como nace</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><%= link_to "Misión", pages_mision_path %>
                    	<ul>
                    		<li><a href="">Hola</a></li>
                    		<li><a href="">Chao</a></li>
                    		<li><a href="">Bueno</a></li>
                    	</ul></li>
                    <li><a href="#">Web design</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Marco Legal</a>
                <ul>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">Graphic design</a></li>
                    <li><a href="#">Development tools</a>
                    	<ul>
                    		<li><a href="">Hola</a></li>
                    		<li><a href="">Chao</a></li>
                    		<li><a href="">Bueno</a></li>
                    	</ul></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Actualidad</a>
                <ul>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Actividades</a></li>
                    <li><a href="#">Columna de Opinion</a>
                    	<ul>
                    		<li><a href="">Hola</a></li>
                    		<li><a href="">Chao</a></li>
                    		<li><a href="">Bueno</a></li>
                    	</ul></li>
                </ul>
            </li>
            <li>
                <a href="#">Tu Parte</a>
                <ul>
                    <li><a href="#">Adopcion</a></li>
                    <li><a href="#">Voluntariado</a></li>
                    <li><a href="#">Como formar parte</a></li>
                    	<ul>
                    		<li><a href="">Hola</a></li>
                    		<li><a href="">Chao</a></li>
                    		<li><a href="">Bueno</a></li>
                    	</ul></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>